<div class="mainmenu-area">
  <div class="container">
    <div class="row">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse ">
        <ul class="nav navbar-nav nav-left">
          <li><%= link_to 'Home', home_path, class:'home' %></li>
          <li><%= link_to 'Shop', shop_path, class:'show' %></li>
          <% if current_user %>
            <li>
              <%= link_to(cart_path,option={}, html_options={class:'cart-nav cart'}) do %>
                Cart - <span>$100</span><i class="fa fa-shopping-cart"></i>
                <span class="product-count"><%= @cart_count %></span>
              <% end %>
            </li>
          <% end %>
          <% if admin_logged_in %>
            <li>
              <%= link_to(products_path,option={}, html_options={class:'products'}) do %>
                <i class="fa fa-cart"></i> Products
              <% end %>
            </li>
            <li>
              <%= link_to(new_product_path,option={}, html_options={class:'new-products'}) do %>
                <i class="fa fa-user"></i> AddItem
              <% end %>
            </li>
          <% end %>
          <li>
            <%= form_with(url: search_post_path,local:true, method: :post,class:'navbar-form navbar-left search-form') do |form| %>
              <div class='input-group'>
                <%= form.text_field :data, class:'form-control', placeholder:'search keyword' %>
                <div class = "input-group-btn">
                  <%= form.button :submit, class:"btn btn-dark search-btn" do %>
                   <i class="glyphicon glyphicon-search"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to(edit_user_registration_path,option={}, html_options={class:'my-account'}) do %>
                <i class="fa fa-user"></i>My Account
              <% end %>
            </li>
            <li>
              <%= link_to(destroy_user_session_path, option={method: :delete}, html_options={class:'logout'}) do %>
                <i class="fa fa-user"></i>LOGOUT
              <% end %>
            </li>
          <% elsif admin_logged_in %>
            <% if super_user_logged_in %>
              <li>
                <%= link_to(admin_signup_path, html_options={class:'admin-signup'}) do %>
                  <i class="fa fa-user"></i>Add Admin
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to(admin_logout_path, option={method: :delete}, html_options={class:'admin-logout'}) do %>
                <i class="fa fa-user"></i>Admin LOGOUT
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to(new_user_registration_path, option={}, html_options={class:'signup'}) do %>
                <i class="fa fa-user"></i>SIGNUP
              <% end %>
            </li>
            <li>
              <%= link_to(new_user_session_path, option={}, html_options={class:'login'}) do %>
                <i class="fa fa-user"></i>LOGIN
              <% end %>
            </li>
            <li>
              <%= link_to(admin_login_path, option={}, html_options={class:'admin-login'}) do %>
                <i class="fa fa-user"></i>Admin
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <br />
    </div>
  </div>
</div>





<style>
  .mainmenu-area {
    background-color: #333;
  }
  .mainmenu-area ul li a {
    color:white !important;
  }
  .navbar-nav li {
    background-color: #333;
  }
  .icon-bar {
    background-color: white !important;
  }
  .search-btn {
    color:white;
    background-color: #333;
  }
  .search-btn:hover {
    color:white;
    background-color: #333;
  }
  .search-form {
    width:40%;
    margin:0px;
    margin-top:10px;
    background-color: #333;
  }
  .search-form input[type="text"] {
    width:400px !important;
  }

  @media (max-width: 1150px) {
      .navbar-header {
          float: none;
      }
      .navbar-toggle {
          display: block;
      }
      .navbar-collapse {
          border-top: 1px solid transparent;
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      }
      .navbar-collapse.collapse {
          display: none!important;
      }
      .navbar-nav {
          float: none!important;
          margin: 7.5px -15px;
      }
      .navbar-nav>li {
          float: none;
      }
      .navbar-nav>li>a {
          padding-top: 10px;
          padding-bottom: 10px;
      }
      .navbar-text {
          float: none;
          margin: 15px 0;
      }
      /* since 3.1.0 */
      .navbar-collapse.collapse.in {
          display: block!important;
      }
      .collapsing {
          overflow: hidden!important;
      }
  }

</style>
