
<div class = "container checkout-table">
  <table cellspacing="0" class="shop_table cart">
    <thead>
      <tr>
        <th class="col-sm-1">&nbsp;</th>
        <th class="col-sm-2">&nbsp;</th>
        <th class="col-sm-2">Product</th>
        <th class="col-sm-1">Price</th>
        <th class="col-sm-1">Quantity</th>
        <th class="col-sm-2">Total</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to 'X', cart_order_delete_path(order.id), method: :delete, class:'remove' %>
          </td>

          <td>
            <%= link_to(product_path(order.product_id),option={}) do %>
              <%= image_tag Product.find(order.product_id).product_image,class:'shop_thumbnail',alt:"poster_1_up"%>
            <% end %>
          </td>

          <td>
            <a href="single-product.html">Ship Your Idea</a>
          </td>

          <td>
            <span class="amount"><%= Product.find(order.product_id).price %></span>
          </td>

          <td>
            <%= form_with(url: cart_post_path(order.id), method: :post) do |form| %>
              <div class="input-group">
                <%= form.number_field :quantity, value:order.quantity%>
                <%= form.submit 'update'%>
              </div>
            <% end %>
          </td>

          <td class="">
            <span class="amount"><%= Product.find(order.product_id).price * order.quantity %></span>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="actions" colspan="6">
          <input type="submit" value="Update Cart" name="update_cart" class="button">
          <input type="submit" value="Checkout" name="proceed" class="checkout-button button alt wc-forward">
        </td>
      </tr>
    </tbody>
  </table>
</div>

<%= will_paginate @orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>


<div class = "container checkout-total">
  <div class="cart_totals">
    <h2>Cart Totals</h2>
    <table cellspacing="0">
      <tbody>
        <tr class="cart-subtotal">
          <th>Cart Subtotal</th>
          <td><span class="amount">£15.00</span></td>
        </tr>

        <tr class="shipping">
          <th>Shipping and Handling</th>
          <td>Free Shipping</td>
        </tr>

        <tr class="order-total">
          <th>Order Total</th>
          <td><strong><span class="amount">£15.00</span></strong> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<script>
//backspace does not work in keypress but it works in keydown
function quantityChange(id) {
  const url = 'http://localhost:3000/cart';
  fetch(url, {
    method: 'POST',
    headers: {
      "Content-Type": "application/json",
      "Accept": "application/json"
    },
    body: JSON.stringify({
      quantity_id: id
    })
  })
  .catch (err => {
    console.log("error : " + err);
  })
}
</script>


<style>
.main {
  width: 100%;
}
.checkout-table {
  width:80%;
  margin-top:50px;
}
.shop_thumbnail {
  height:80px !important;
  width:70px !important;
}

.checkout-total{
  width:60%;
}

</style>
