<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if product.product_image.attached? %>
    <%= image_tag product.product_image %>
  <% end %>

  <div class="form-group">
    <div class="input-group">
      <label>Upload Product Image</label>
      <%= form.file_field :product_image %>
    </div>
  </div>


  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <label>Name</label>
      </div>
      <%= form.text_field :name, class:'form-control input-md'%>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <label>Description</label>
      </div>
      <%= form.text_area :description, class:'form-control input-md',rows:7%>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <label>Processor</label>
      </div>
      <%= form.text_field :processor, class:'form-control input-md'%>
    </div>
  </div>


  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <label>Operating System</label>
      </div>
      <%= form.text_field :operating_system, class:'form-control input-md'%>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <label>Storage</label>
      </div>
      <%= form.text_field :storage, class:'form-control input-md'%>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <label>Display</label>
      </div>
      <%= form.text_field :display, class:'form-control input-md'%>
    </div>
  </div>


  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <label>Price</label>
      </div>
      <%= form.number_field :price, class:'form-control input-md'%>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <label>Quantity</label>
      </div>
      <%= form.number_field :quantity, class:'form-control input-md'%>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>

<style>
  .main {
    width:50%;
  }
</style>
