<p id="notice"><%= notice %></p>

<% if admin_logged_in %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>


<div class="product-main-img">
    <img src="img/product-2.jpg" alt="">
</div>
<% if @product.product_image.attached? %>
  <%= image_tag @product.product_image %>
<% end %>

<table class="table">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td class="left-show col-sm-3">Name</td>
      <td><%= @product.name %></td>
    </tr>
    <tr>
      <td class="left-show">Description</td>
      <td><%= @product.description %></td>
    </tr>
    <tr>
      <td class="left-show">Processor</td>
      <td><%= @product.processor %></td>
    </tr>
    <tr>
      <td class="left-show">Operating System</td>
      <td><%= @product.operating_system %></td>
    </tr>
    <tr>
      <td class="left-show">Storage</td>
      <td><%= @product.storage %></td>
    </tr>
    <tr>
      <td class="left-show">Display</td>
      <td><%= @product.display %></td>
    </tr>
    <tr>
      <td class="left-show">Price</td>
      <td><%= @product.price %></td>
    </tr>
    <tr>
      <td class="left-show">Quantity</td>
      <td><%= @product.quantity %></td>
    </tr>
  </tbody>
</table>
<style>
.main {
  width:60%;
}
.left-show {
  background-color: #F5F5F5;
}
</style>
